<ion-content [fullscreen]="true">
  <div class="relative h-[340px] tablet:h-[458px] ">
    <ion-button
      (click)="goBack()"
      class="custom-button absolute left-5 top-16 p-0 size-12 rounded-xl  tablet:left-10 tablet:size-14 "
      fill="clear"
    >
      <ion-icon
        slot="icon-only"
        aria-hidden="true"
        name="chevron-back-outline"
        class="font-6 tablet:p-3 tablet:font-8"
      ></ion-icon>
    </ion-button>
    <img
      [src]="wizardImage()"
      class="h-full w-full object-cover"
      [alt]="wizardSignal()?.name || 'Default image'"
    />
    <div class="absolute bottom-0 left-0 right-0 h-[74px] bg-gradient-to-b from-transparent to-primary-900"
    ></div>
  </div>

  <div class="text-primary-100 my-8 mx-5 tablet:m-10">
    <div class="mb-[37px]">
      <div class="mb-5">
        <p class="mb-2 font-montserrat text-[28px] leading-7 font-bold tablet:mb-3 tablet:text-3xl">
          {{ wizardSignal()?.name }}
        </p>
        <p class="text-base tablet:text-lg tablet:leading-6 tracking-[-0.5px]">{{ formattedAlternateNames() }}</p>
      </div>
      @for (chip of chips(); track $index) {
      <ion-chip [ngClass]="chip.class" class="capitalize cursor-default m-0 rounded-full mr-2 text-base !leading-4 px-3 py-2 tablet:text-lg tablet:px-4 tablet:py-3 !tablet:mr-3">
        {{ chip.label }}
      </ion-chip>
      }
    </div>

    @if (isLoading()) {
    <ion-spinner></ion-spinner>
    } @else { @if (wizardSignal()) {
    <app-wizard-card-info [wizard]="wizardSignal()!"></app-wizard-card-info>
    } }
  </div>
  
</ion-content>
