ion-searchbar.custom-searchbar {
  --background: var(--ion-color-primary-500);
  --color: var(--ion-color-primary-150);
  --placeholder-color: var(--ion-color-primary-200);
  --icon-color: var(--ion-color-primary-150);
  --clear-button-color: var(--ion-color-primary-150);
  border-radius: 12px;
  border: 1px solid var(--ion-color-primary-150);
  background: var(--ion-color-primary-500);
}
