ion-searchbar.custom-searchbar {
  --background: #2f4d53;
  --color: #2cbbdd;
  --placeholder-color: #53a7bc;
  --icon-color: #2cbbdd;
  --clear-button-color: #2cbbdd;
  border-radius: 12px;
  border: 1px solid #2cbbdd;
  background: #2f4d53;
}
