ion-tab-button {
  --color-selected: var(--ion-color-primary-100);
  --color: var(--ion-color-primary-600);
  padding-top: 10px !important;
}

ion-tab-bar {
  padding-bottom: max(16px, env(safe-area-inset-bottom)) !important;
  --background: var(--ion-color-primary-900);
}

ion-label {
  font-family: var(--ion-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
