<div
  class="card text-medium rounded-xl border border-primary-400 bg-primary-800 p-5 font-montserratSimp text-base leading-6 text-primary-100 shadow-custom tablet:text-lg"
>
  <ul class="space-y-2">
    @if (details().length > 0) {
      @for (detail of details(); track $index) {
        <li class="flex justify-between">
          <span class="text-primary-200">{{ detail.label }}</span>
          <span class="capitalize">{{ detail.value }}</span>
        </li>
        @if (!isLast($index) && details()[$index + 1].value) {
          <hr class="my-8 h-px border-0 bg-primary-200" />
        }
      }
    } @else {
      <li class="text-primary-200">🪄 Obliviate</li>
    }
  </ul>
</div>
