<div
  class="card text-medium rounded-xl border border-primary-400 bg-primary-800 p-5 tablet:p-6 font-montserratSimp text-base text-primary-100 shadow-custom tablet:text-lg "
>
  <ul class="">
    @if (details().length > 0) {
      @for (detail of details(); track $index) {
        <li class="flex justify-between m-0">
          <span class="text-primary-200 leading-6 ">{{ detail.label }}</span>
          <span class="capitalize leading-6 tracking-tighter">{{ detail.value }}</span>
        </li>
        @if (!isLast($index) && details()[$index + 1].value) {
            <hr class="h-px border-0 bg-primary-200 my-4 tablet:my-5" />
        }
      }
    } @else {
      <li class="text-primary-200"><i>🪄 Obliviate</i></li>
    }
  </ul>
</div>
