<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wizards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wizards</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="m-4 tablet:m-8">
    <app-searchbar [searchType]="'wizard'"></app-searchbar>

    <div class="space-x-5 sm:space-x-6">
      @for (wizard of filteredWizards(); track wizard.id) {
      <app-wizard-card [wizard]="wizard"></app-wizard-card>
      } @if (filteredWizards().length === 0) {
      <p
        class="card rounded-xl border border-primary-300 bg-primary-400 px-5 py-[15px] font-montserrat text-base font-bold leading-6 text-primary-100 shadow-custom sm:text-xl"
      >
        No wizards found.
      </p>
      }
    </div>
  </div>
</ion-content>
