<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Spells</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spells</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="m-4 tablet:m-8">
    <app-searchbar [searchType]="'spell'"></app-searchbar>
    <div class="space-y-5 sm:space-y-6">
      <!-- TODO : replace *ngIF by new Angular Control Flow @if / @else -->
      @if (filteredSpells().length > 0) {
        <!--  TODO : replace *ngFor by new Angular Control Flow -->
        @for (spell of filteredSpells(); track spell.id) {
            <app-spell-card [spell]="spell"></app-spell-card>
        }
      } @else {
        <!-- TODO : add empty message if no results -->
        @if (filteredSpells().length === 0) {
            <p class="card bg-primary-400 border border-primary-300 rounded-xl shadow-custom font-montserrat text-primary-100 font-bold text-base sm:text-xl leading-6 py-[15px] px-5">No spells found.</p>
        }
      }
      <!--  TODO : replace *ngFor by new Angular Control Flow -->
      @if (searchInput().length <= 0) {
        @for (spell of spellsSignal(); track spell.id) {
          <app-spell-card [spell]="spell"></app-spell-card>
        }
      }
      </div>
  </div>
</ion-content>
